@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Montserrat:wght@700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	font-family: 'Inter', sans-serif;
}
form {
	max-width: 900px;
	margin: 0 auto;
	width: 70%;
	flex-direction: column;
}

.flex{
	display: flex;
}

.container{
	flex-direction: column;
	min-height: 100vh;
	background: #F5F5F5;
	width: 50%;
}

.logo{
	margin: 2.5667em 0 1.6667em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.875rem;
	color: #2101E5;
}
.content{
	margin-top: 0;
}

input{
	font-family: inherit;
	margin-bottom: 4em;
	border-radius: 0.625em;
	font-size: 0.85rem;
	font-weight: 300;
	line-height: 1.21em;
	padding: 1.333em 1.667em;
	border: 1px solid #7B7B7B;
	color: black;
}

.btn{
	background: #2101E5;
	color: white;
	border: 0;
	font-weight: 700;
	font-size: 1.225rem;
	line-height: 1.21em;
	padding: 0.8889em 1.1111em;
	margin-bottom: 2.7778em;
}

.btn:hover{
	background-color: #705cf3;
}

.result{
	margin-bottom: 0.5em;
}

#newText {
	height: 100px;
}

.result,
.stat-summary {
	flex-direction: column;
}

.stat-summary{
	align-items: center;
}

li {
	list-style: none;
	margin-bottom: 1em;
	color: #7B7B7B;
}

.stat-summary li {
	width: 70%;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 5px;
	justify-items: start;
	align-items: center;
	justify-content: start;
}

.dots {
	border-bottom: 1px dotted #7B7B7B;
	width: 100%;
}